/* style.css */

/* this block is used to create variables to parameters that would be often repeated on the css
   this kind of block is useful for colors, and default parameters */
:root {
    --main-bg-color: #005c20;
    --color-pink: #BF4E83;
    --color-green: #21BF58;
    --text-color: white;
    --margin-top: 60px;
    --margin-bottom: 100px;
}

/* Class with the parameters for the page's body */
body {
    font-family: 'Franklin Gothic Medium';
    background-image: url("../images/pigeon-background.png");
    background-size: cover; /* Adjusts the background image to cover the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

/* Decide to reduce the max width due to few content on the pages
so it is more centered and the page looks better.  */
main {
    max-width: 70%;
    margin: auto;
    margin-top: var(--margin-top); /* margin to not be coverd by the navigation bar*/
}

/* Class with the parameters for the page's main title */
.pageTitle {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
    color: var(--text-color);
}

/* Class with the navigation bar tags
this bar is fixed on the top of the website which overlap the webside content
it is always displayed so the user can quickly navigate through the pages */
.navbar ul {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    list-style-type: none;
    background-color: #21BF58;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    z-index: 1; /*keeps the element over the others*/
}

/* Personalize the <a> tag from the href links */
.navbar a {
    color: var(--text-color);
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none; /*remove the underline above the words*/
}

    /* Add a color when the mouse hover the link */
    .navbar a:hover {
        background-color: var(--main-bg-color);
    }

    /* Add a color to the active/current link */
    .navbar a.active {
        background-color: var(--main-bg-color);
    }

/* Position of the element of the list on the left.
We generaly start reading from the top left, so this is the first thing
the user should read */
.navbar li {
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}

/* Set the bolder value to the page titles using this class */
.titles {
    font-weight: bolder;
}

/* The site have  */
.container {
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.95;
}

/* Table created to display the medal icon and the title with different
backgrounds. */
.pinkTable {
    background-color: #b43671;
    border-collapse: collapse;
    color: black;
}

    .pinkTable th,
    .pinkTable td {
        border: 1px solid #F2F2F2;
        padding: 5px;
    }



/* Class to change the background of the titles as their positions */
.gold {
    background-color: #F6BA00;
}



.silver {
    background-color: #b4b2ad;
}

.bronze {
    background-color: #CD7F22;
}

/* Default class for user inputs, it have 100% width to fill the entire div */
input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Main container style that is used over the website */
.card {
    background-color: var(--main-bg-color);
    border: solid 1px #005c20;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

/* Class to control the design of the website buttons, so all buttons
inheritate from this class are the same and to be quicker to make changes*/
.button {
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

    /* Inherite the button class and add a personalization to this specific class */
    .button.pink {
        --color: #BF4E83;
        border: solid 2px var(--color);
        background-color: var(--color);
        color: var(--text-color);
    }

    .button.grey {
        /*
    Light Green: #7ED957
    Dark Green: #11602E
    Lighter Shade of Background Color: #146B35
    Darker Shade of Background Color: #126F3F
  */
        --color: #126F3F;
        border: solid 2px var(--color);
        background-color: var(--color);
        color: var(--text-color);
    }

    /* Hover effect to the personalized buttons */
    .button.pink:hover {
        background-color: #b43671;
        color: var(--text-color);
    }

    .button.grey:hover {
        background-color: #11602E;
        color: var(--text-color);
    }
    /* Enabled button */
    .button.pink.enabled {
        opacity: 100%;
    }
    /* Disabled button */
    .button.pink.disabled {
        opacity: 80%;
        cursor: not-allowed;
    }

select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.footerMargin {
    margin-bottom: var(--margin-bottom);
}

/* Footer class is fixed on the bottom of the screen 
overlapping the content to always display the copyright, 
terms and user conditions, and quick links to teams pages */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #BF4E83;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Class for the icons on the footer */
.footerIcon {
    width: 30px;
    border-radius: 10px;
}


    .footerIcon:hover {
        transform: scale(1.1);
    }


/* Class to transform the borders into a circle 
!important is used in this case to override any other issues caused
by the radius, for instance if the image is not a square*/
.rounded-circle {
    border-radius: 50% !important;
}

.noTextDecoration{
    text-decoration:none;
}
