/* Main style for the grid which contains all the drivers.
the columns template is set to auto-fill to enhance responsiveness
of the grid and keep the items with the minium size*/
.gridContainer {
    display: grid;
    gap: 25px 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: var(--main-bg-color);
    padding: 10px;
}

/* Style for the grid item. Use a variable to the background color to 
keep the color scheme, if changed */
.gridItem {
    background: linear-gradient(var(--color-green), #ffc107);
    display: table-cell;
    text-align: justify;
    max-width: 300px;
    min-width: 100px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}



/* Style with the driver information, it is split into two sections,
the top row is the driver avatar (picture), and the bottom is the driver
data */
.driverAvatarContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

/* Style with the driver avatar, slightly rounded to be nice to see */
.driverAvatar {
    width: 100%;
    border-radius: 25px;
    border: solid 2px;
    border-color: white;
}

/* Style of the driver's flag on the driver page.
Position set to absolute to work togheter with the parent div which 
have position relative. Then it is positioned in the bottom right corner,
and then it is applied a radius to the border. */
.flag {
    width: auto;
    position: absolute;
    right: 5px;
    bottom: 10px;
    border-radius: 50% !important;
    border: solid 2px;
    border-color: white;
}
